@import '../../variables.scss';
@import '../../reset.scss';
@import '../../markdown.scss';

.blog-detail-page {
  .blog-content {
    padding: 40px 20px 44px;
    margin: $headerHeight auto 0;
    max-width: 735px;
  }
}