@import '../../variables.scss';
@import '../../reset.scss';

$animation1Height: 500px;
$animation2Height: 375px;
$animation3Height: 248px;
$animation4Height: 570px;
$animation5Height: 460px;

@keyframes fallingStar1 {
  0% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
  }

  100% {
      transform: translate3d(0, $animation1Height, 0);
      opacity: 0;
  }
}

@keyframes fallingStar2 {
  0% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
  }

  100% {
      transform: translate3d(0, $animation2Height, 0);
      opacity: 0;
  }
}

@keyframes fallingStar3 {
  0% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
  }

  100% {
      transform: translate3d(0, $animation3Height, 0);
      opacity: 0;
  }
}

@keyframes fallingStar4 {
  0% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
  }

  100% {
      transform: translate3d(0, $animation4Height, 0);
      opacity: 0;
  }
}

@keyframes fallingStar5 {
  0% {
      transform: translate3d(0, -100%, 0);
      opacity: 1;
  }

  100% {
      transform: translate3d(0, $animation5Height ,0);
      opacity: 0;
  }
}

.home-page {
  .top-section {
    position: relative;
    height: 720px;
    background-image: linear-gradient(0deg, $startColor 0%, $intermediateColor 51%, $endColor 100%);
    .animation {
      position: absolute;
      top: 0;
      border-right: 1px solid rgba(255, 255, 255, 0.3);
      transform: scaleX(0.5);
      &::before {
        content: '';
        height: 16px;
        opacity: 1;
        border-right: 4px solid #fff;
        position: absolute;
        left: -2px;
        transform: translate3d(0,-100%,0);
      }
      &1 {
        left: 15%;
        height: $animation1Height;
        &::before {
          animation: fallingStar1 1.3s infinite ease-in-out;
        }
      }
      &2 {
        left: 35%;
        height: $animation2Height;
        &::before {
          animation: fallingStar2 1.5s infinite ease-in-out;
        }
      }
      &3 {
        left: 52%;
        height: $animation3Height;
        &::before {
          animation: fallingStar3 2s infinite ease-in-out;
        }
      }
      &4 {
        left: 65%;
        height: $animation4Height;
        &::before {
          animation: fallingStar4 1.5s infinite ease-in-out;
        }
      }
      &5 {
        left: 85%;
        height: $animation5Height;
        &::before {
          animation: fallingStar5 1.3s infinite ease-in-out;
        }
      }
    }
    .vertical-middle {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      padding: 0 20px;
    }
    .product-name {
      position: relative;
      display: inline-block;
      h2 {
        font-family: Avenir-Heavy;
        font-size: 46px;
        color: #FFF;
        text-align: center;
        word-break: break-word;
        margin: 0;
      }
    }
    .product-desc {
      opacity: 0.6;
      font-family: Avenir-Medium;
      font-size: 24px;
      color: #FFF;
      text-align: center;
      margin: 12px auto 0;
      max-width: 730px;
    }
    .button-area {
      text-align: center;
      margin-top: 40px;
      .button {
        margin-right: 20px;
      }
      .button:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (max-width: $mobileWidth) {
    .introduction-section {
      padding: 0 20px;
      &::before {
        left: 20px;
      }
      &::after {
        left: 19px;
      }
    }
  }
}